/*----- redefinisane ---*/
.form-control {
	background-color: rgba(255, 255, 255, 0.58);
	border: 1px solid rgba(50, 50, 50, 0.58);
    border-radius: 4px;
	/*height: 50px;*/
    /*padding: 16px 12px;*/
    /*font-size: 19px;*/
}

.form-label{
	display:flex; height:35px; align-items:center;
}

.bcenter{
	text-align:center;
}

div#tchMap {
  height: 800px;
}

.navbar-toggle{
    float:left;
    margin-left:5px;
    display: block;
}

.navbar-collapse.collapse {
    display: block !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/*----- ----------- ---*/

.olControlLayerSwitcher .layersDiv{
    background-color: rgba(90, 90, 90, 0.58);
}

.olControlLayerSwitcher label.labelSpan{
    display:inline;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}

@media (max-width:767px){.hidden-xs{display:none!important}}

@media(min-width:1900px) {
    .container {
        width: 1800px;
    }
}

@media(min-width:1680px) {
    .container {
        width: 1600px;
    }
}

@media(min-width:1000px) {
    .container {
        width: 900px;
    }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.hover_visible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}

.hover_parent:hover .hover_visible {
  visibility:visible;
  opacity: 1;
}
.filter-col{
    padding-left:10px;
    padding-right:10px;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 35px;
    font-size: 15px;
    line-height:35px;
    border-radius: 20px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-left: 5px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #0000;
}

.widget {
    z-index: 1000;
    position: fixed;
    left:4px;
    top:200px;
    background-color:rgba(60, 118, 61, 0.4);
    color: white;
    padding: 5px;
}

.tool-widget {
		z-index: 1000;
    background-color:rgba(60, 118, 61, 0.4);
    padding: 5px;
}

.tool-widget-bottom {
		z-index: 1000;
		width: 600px;
		background-color:rgba(60, 118, 61, 0.4);
    padding: 5px;
}

/*************************/
.vis-timeline {
  border: 2px solid lightblue;
  font-size: 12pt;
}

.vis-item {
  border-color: lightblue;
  background-color: transparent;
  font-size: 10pt;
  color: black;
  box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}


.vis-custom-time {
  background-color: yellow;
	width: 2pt;
}

[class="vis-custom-time 3"]{
	background-color: blue;
}

.vis-item,
.vis-item.vis-line {
  border-width: 1px;
}

.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

.vis-item.vis-selected {
  border-color: green;
  background-color: lightgreen;
}

.vis-time-axis .vis-text {
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
  border-width: 1px;
  border-color: lightgreen;
}

.vis-time-axis .vis-grid.vis-major {
  border-width: 1px;
  border-color: lightgreen;
}

.vis-labelset .vis-label{
	color: white;
}
/************************************/
.widget-timeline {
    z-index: 1000;
		position: fixed;
		bottom: 0;
		width: calc(100% - 50px);
		margin-right: auto; margin-left: auto;
}
.widget-timeline .timeline {
	  height:140px;
		color: white;
    background-color:rgba(60, 118, 61, 0.8);
}
.openTimeLine {
    bottom:0px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}
.closeTimeLine {
    bottom:-160px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}
/********************************/
.widget-sidebar {
		top: 50px;
		width:350px;
    z-index: 1000;
		position: fixed;
		left: 0;
		height: 100%;
}
.widget-sidebar .sidebar {
		width:300px;
		padding: 10px;
		color: black;
    background-color: rgba(230, 230, 230, 1);
		border-right: solid black 1px;
		height: 100%;
}

.openSideBar {
    left:0px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}
.closeSideBar {
    left:-300px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}
/***************************/
.button_div {
  background: rgba(230, 230, 230, 0.3);
  display: inline-block;
  margin: 0 1em 1em 0;
}

.top_button,
.bottom_button {
  height: 30px;
  width: 60px;
}

.right_button,
.left_button {
  height: 60px;
  width: 30px;
	padding: 20px 10px;
}

.top_button {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

.top_button:hover {
	background: rgba(230, 230, 230, 0.9);
}

.right_button:hover {
	background: rgba(230, 230, 230, 0.9);
}

.right_button {
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
}

.bottom_button {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.left_button {
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
}

.left_button:hover {
	background: rgba(230, 230, 230, 0.9);
}

.circle_button {
	height: 30px;
  width: 30px;
  border-radius: 2pt;
}

.circle_button:hover {
	background: rgba(130, 230, 130, 0.9);
}


/*******************************/
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.login .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 15px;
    top: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.login .close:hover,
.login .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0.5)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0.5)}
    to {transform: scale(1)}
}

.table-selected{
	font-size: 12px;
	font-weight: bold;
}

.tr-narrow{
	height : 20px;
	font-size: small;
	margin: 0 0 0 0;
}

.tr-narrow td{
	padding: 6px 2px !important;
}

.th-narrow{
	height : 20px;
	font-size: small;
	font-weight: bold;
	margin: 0 0 0 0;
}

.th-narrow td{
	padding: 6px 2px !important;
	border-top: 0px solid #ddd !important;
	border-bottom: 2px solid #aaa;
}

.btn-narrow{
	padding : 0px;
}

.widget-wizard {
    z-index: 1000;
		position: fixed;
		left: 230pt;
		top: 200pt;
}

/***************************/
.widgetRightSidebar {
		width:550px;
		background-color: rgba(230, 230, 230, 1);
    z-index: 11;
		position: fixed;
		right:0px;
		height: 100%;
		padding: 10px;
		color: black;
		border-left: solid black 1px;
}

.openRightSideBar {
    right:0px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}
.closeRightSideBar {
    right:-550px;
    -webkit-transition: height, 0.5s;
    -moz-transition: height, 0.5s;
    -o-transition: height, 0.5s;
    transition: height, 0.5s;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/**************************/
.form-control.xs{
	height: 30px;
	padding: 2px;
}

div.xs{
	padding: 2px;
}

/**********************/
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
		min-width: 600px;
		min-height:400px;
		padding: 10px;
}

.modal-footer {
		position: fixed;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    bottom: 5px;
    left: 32px;
    width: 90%;
}

.close_modal {
	position: fixed;
	z-index:1000;
	cursor: pointer;
	right:5px;
	top:5px;
	padding: 5pt 5pt;
	border-radius: 2pt;

}
.close_modal:hover {
	background: rgba(230, 230, 230, 0.9);
}
/***************/
.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 450px;
    padding: 2px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #ffffff;
		overflow-y: auto;
    max-height: 200px; // your preference
}
.angucomplete-row {
    padding: 2px;
    color: #000000;
    margin-bottom: 1px;
    clear: both;
}
.angucomplete-description {
		padding-left: 20px;
    font-size: 14px;
}

.px30{
	width:30px
}

.px50{
	width:50px
}

.px75{
	width:75px
}

.px100{
	width:100px
}

/*******************/
.table_row {
    padding: 4pt;
    border-bottom: 1px solid #ccc;
}

.row_focused {
  background-color: #ddd;
  border-bottom: 1px solid #f60;
}

.table_input {
  background-color: transparent;
  border: 1px solid #aaa;
  color: #000;
  box-sizing: border-box;
  margin: -2px 0 0 -2px;
  padding: 2px 3px;
  position: relative;
  top: 50%;
}

.table_input:focus {
  outline: none;
  color: #337ab7;
}

.table_row:hover {
    background-color: #eee;
}

.row_selected {
  background-color: #888;
  color: 1px solid #FE5A1D;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    max-height: 100px;
    min-height: 100px;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    /* max-height: 200px; */
    /* min-height: 200px; */
    /* height: auto; */
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}
