<template>
  <div id="app">
    <div style="position:fixed; z-index: 10; top:15pt; right:15pt; background-color:#fff;padding:2px;"><a href="https://ai.ipb.ac.rs/atlas/"><img src="logo.png" width="48px"></a></div>
    <Inspect :feature="selected"></Inspect>

  </div>
</template>

<script>

  import Inspect from './components/Inspect';
  export default {
    name: 'App',
    components: {
      Inspect
    },
    data: () => ({
      selected: undefined,
      stations:[],
    }),
    created:function(){
    },
    mounted:()=> {
    }
  }
</script>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
  }

</style>
