<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATLAS - Lab - Map</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="node_modules/openlayers/dist/ol.css" type="text/css">
    <link rel="stylesheet" href="/app/css/app.css"  type="text/css">
</head>

<body ng-app="myApp" ng-controller="MyCtrl as vm">

    <div id="menu" 
        ng-controller="MenuCtrl as menu_ctrl" 
        style="top:2px;z-index:1010; width:350px; min-width:unset;"
        class='widget' 
        ng-include="'/app/components/menu/menu-home.html'"></div>

    <div id="map-ctrl" ng-controller="MapCtrl as map_ctrl">
        
        <div id="map" 
            class="map"
            style="width: 100%; height: 100%; position:fixed"></div>
        <div id="layers"
            class='widget' 
            style="width:350px; min-width:350px;" 
            ng-if="vm.popup_module=='gis-layers'"
            ng-include="'/app/components/layer/layer.html'"></div>

        <div id="loading-refresh"
            class='tool-bar' 
            style="top: 2px; bottom:unset;">
            <button ng-click="map_ctrl.reload()"
                class="btn btn-outline-dark btn-sm btn-xs" 
                style="width:25px; height:25px;">
                    <i ng-if="map_ctrl.loading == false" class="fas fa-sync-alt"></i>
                    <i ng-if="map_ctrl.loading == true" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>

        <div id="measure-tool"
            class='tool-bar' 
            style="top: 32px; bottom:unset;">
            <button ng-click="map_ctrl.measureTool()"
                class="btn btn-outline-dark btn-sm btn-xs" 
                style="width:25px; height:25px;">
                <i class="fas fa-tape" ng-class="(map_ctrl.tool=='MeasureLineString')?'selektovan':''"></i>
            </button>
        </div>

        <div id="globe"
            class='tool-bar' 
            style="top: 62px; bottom:unset;">
            <button ng-click="map_ctrl.nextMap()" 
                class="btn btn-outline-dark btn-sm btn-xs" 
                style="width:25px; height:25px;">
                <i class="fas fa-globe"></i>
            </button>
        </div>

        <div id="search"
            class='widget'
            style='top:2px;  left:unset; right:45px; width:unset; min-width:305px; background-color: rgba(255, 255, 255, 0.5);'>
            <input id="commandLine"
                type="text" 
                class="menu-input" 
                style="width:300px;"
                my-enter="map_ctrl.showPosition()"
                ng-model="map_ctrl.command" />
        </div>
    </div>
    <div ng-controller="DialogCtrl as dialogCtrl" 
        ng-include="'/app/components/dialog/dialog.html'"></div>


    <script src="node_modules/proj4/dist/proj4.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="node_modules/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src='node_modules/angucomplete-alt/angucomplete-alt.js'></script>
    <script src="node_modules/angularjs-datepicker/dist/angular-datepicker.js"></script>
    <script src="node_modules/angular-i18n/angular-locale_sr-latn.js"></script>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/openlayers/dist/ol.js"></script>

    <script src="https://epsg.io/32634-1753.js"></script>
    <script src="https://epsg.io/25832.js"></script>
    <script src="https://epsg.io/4326.js"></script>
    <script src="https://epsg.io/3096.js"></script>


    <script src="/app/js/util.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/dir.js"></script>
    <script src="/app/services/services.js"></script>
    <script src="/app/components/layers/layers.js"></script>
    <script src="/app/components/dialog/dialog.js"></script>
    <script src="/app/components/map/map.js?v=1.01"></script>
    <script src="/app/components/menu/menu.js"></script>

</body>

</html>