<div ng-if="dialogCtrl.showModal" class="myModal">
    <div class="modal-content" style="max-width:400px; background-color: #4f4f4f;">
        <div class="modal-header">
            <strong>{{dialogCtrl.title}}</strong>
        </div>
        <div class="modal-body">
                <div ng-if="dialogCtrl.yesNo">
                    {{dialogCtrl.message}}
                </div>
                <table class="table" ng-if="dialogCtrl.yesNo == false">
                    <tbody>
                        <tr class="tr-narrow" ng-repeat="el in dialogCtrl.fields">
                            <td ng-class="el.focused?'row_focused':''">
                                {{el.label}}
                            </td>
                            <td ng-class="el.focused?'row_focused':''">
                                <textarea ng-if="el.type=='textarea'" rows=8 style="width:200px;" ng-model='el.value'></textarea>

                                <input  ng-if="el.type!='textarea'"  type="{{el.type}}" ng-model="el.value"
                                    id="dialog_{{$index}}"
                                    size=40 class="table_input"
                                    ng-focus="el.focused = true"
                                    ng-blur="el.focused=false;"
                                    key-focus vrsta="{{$index}}" kolona="1">
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm" ng-click="dialogCtrl.cancel()">{{dialogCtrl.cancelLabel}}</button>
            <button class="btn btn-sm btn-success" ng-click="dialogCtrl.ok()">{{dialogCtrl.okLabel}}</button>
        </div>
    </div>
</div>
